[submodule "ckan-alternative-theme/ckanext-alternative_theme"]
	path = ckan-alternative-theme/ckanext-alternative_theme
	url = git@github.com:ALTERNATIVE-EU/ckanext-alternative_theme.git
[submodule "ckan-alternative-theme/ckanext-cloudstorage"]
	path = ckan-alternative-theme/ckanext-cloudstorage
	url = git@github.com:ALTERNATIVE-EU/ckanext-cloudstorage.git
[submodule "ckan-alternative-theme/ckanext-extrafields"]
	path = ckan-alternative-theme/ckanext-extrafields
	url = git@github.com:ALTERNATIVE-EU/ckanext-extrafields.git
[submodule "ckan-alternative-theme/ckanext-keycloak_access_token"]
	path = ckan-alternative-theme/ckanext-keycloak_access_token
	url = git@github.com:ALTERNATIVE-EU/ckanext-keycloak_access_token.git
[submodule "ckan-alternative-theme/ckanext-keycloak_auth"]
	path = ckan-alternative-theme/ckanext-keycloak_auth
	url = git@github.com:ALTERNATIVE-EU/ckanext-keycloak_auth.git
